{% extends 'base.html.twig' %}



{% block body %}
    <style>
        .example-wrapper { margin: 1rem auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {{ form(form) }}

    <div clas="example-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
            <tr>
                <td> {{ category.Name }} </td>
                <td> <a href="{{ path('delete',{'categoryid': category.id}) }}">[[DELETE]]</a> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
